*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Brandon Grotesque;
    src: url('BGREG.otf'); 
    }
.container{
    display: flex;
    width: 100%;
    height: 96vh;
    margin: 0;
    background-image: url("");
    background: url("../img/bg.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img{
    width: 30px;
    height: 38px;
    margin: auto;
    margin-bottom: 8px;
}

.container-form{
    margin: auto;
    margin-top: 60px;
    width: 296px;
    height: 350px;
    background-color: white;
}
.grid-row{
    margin: auto;
    margin-left: 49px;
    margin-top: 18px;
    display: grid;
    grid-template-rows: 15px;
}
.grid-col{
    display: grid;
    height: 50px;
    margin-top: 30px;
    grid-template-columns: auto 60px;
}
.kdo{
    display: flex;
    margin-right: 30px;
}
.small-title{
    color: #c7c7c9;
    font-size: 10px;
    margin-left: 65px;
}
.big-title{
    font-size: 17px;
    color: #244068;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    
}
.grid-input{
    display: grid;
    grid-template-rows: auto;
    margin-top: 70px;
}
.grid-input div{
    margin: auto;
}
.label-input{
    margin-top: 60px;
    color: #919197;
}
#input{
    margin: auto;
    margin-top: 5px;
    border: none;
    border-bottom: solid #c7c7c9 1px;
    width: 220px;
    height: 30px;
}
button{
    margin-top: 40px;
    margin-bottom: 35px;
    width: 130px;
    height: 30px;
    color: white;
    background-color: #37b8e1;
    border: none;
}

.footer-form{
    text-decoration: underline;
    color: #898990;
    padding-bottom: 15px;
}
.footer{
    display: flex;
}
.footer p{
    margin: auto;
}

@media screen and (max-width : 1023px )
{
    .container-form{
        margin: auto;
        margin-top: 60px;
        width: 350px;
       
        background-color: white;
    }
    .grid-col{
        display: grid;
        height: 50px;
        margin-top: 30px;
        grid-template-columns: auto 70px;
    }
    .small-title{
        color: #c7c7c9;
        font-size: 12px;
        margin-left: 65px;
        font-family: Myriad Pro;
    }
    .big-title{
        font-size: 20px;
        margin-left: 12px;
        color: #244068;
    }
}

@media screen and (max-width : 320px )
{
    .container-form{
        margin: auto;
        margin-top: 60px;
        width: 290px;
        background-color: white;
    }
    .grid-col{
        display: grid;
        height: 50px;
        margin-top: 30px;
        grid-template-columns: auto 70px;
    }
    .big-title{
        font-size: 15px;
        margin-left: 12px;
        color: #244068;
       
    }
}